body {
	background-color: #dfdfd6;
	padding: 50px;
	color: #1167a0;
	background-image: url(images/tile.jpg);
}

a {
	color: #612c2c;
}

a:hover {
	color: #ff5733;
}

h1 {
	text-transform: uppercase;
}

h2 {
	color: #000000;
}

/*#camry-header {
	text-transform: lowercase;
}*/

#go-back {
	border-top: 1px solid #b9afaf;
	margin-top: 40px;
	padding-top: 20px;
}

.lexus-spec {
	color: #bd4da6;
}

.camry-spec {
	color: #bd804d;
}

.sienna-spec {
	color: #20ba53;
}