body {
	background-color: #75a1a0;
/*	padding: 5rem;*/
	color: #3a3f3f;
	background-image: url("images/bg_one.jpg");
	font-family: 'Raleway', sans-serif;
	font-size: 1.125rem;
	line-height: 1.618;
	margin: 2rem;
}

img {
	max-width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;

}

a {
	color: #864200;
}

a:hover {
	color: #34918f;
}

h1 {
	text-transform: uppercase;
	text-align: center;
	border-bottom: 4px double;
	padding-bottom: 5px;
	margin-bottom: 15px;
}

h2 {
	border-top: 1px solid;
	padding-top: 5px;
	margin-top: 15px;
	text-align: center; 
}

/*h2.main-page-list {
	border-bottom: none;
	padding-bottom: 2px;
	margin-bottom: 5px;
}*/

ul, ol{
	list-style: none;
	padding-left: 0px;
}

ul li{
	margin-bottom: 25px;
}


ol li{
	text-align: center;
	margin-bottom: 10px;
}

footer {
	text-align: right;
}

/*#camry-header {
	text-transform: lowercase;
}*/

/*#main-page {
	text-align: center;
}*/

#go-back {
	border-top: 4px double;
	margin-top: 20px;
	padding-top: 5px;
}

.wrapper {
	width: 100%
	max-width: 80rem;
	margin: 0 auto;
	padding: 5rem;
	box-sizing: border_box;
	border: 0.1875rem solid #d8d4c3;
	background-color: #cec9b6;
	background-image: url("images/bg_two.jpg");
	box-shadow: 0.625rem 0.625rem rgba(58, 89, 87, 0.5);
}

.image_frame {
	box-sizing: border-box;
	padding: 0.75rem;
	border: 0.1875rem solid #d8d4c3;
	background-color: #443d3b;
}

.col_01 {
	width: 33.3333%;
	float: left;
	text-align: center;
}

.col_02 {
	width: 66.6666%;
	float: right;
	padding-left: 4rem;
	box-sizing: border-box;
}

.col_02 > :first-child {
	border-top: none;
	margin-top: 0;
}

.col50_01 {
	width: 50%;
	float: left;
}

.col50_02 {
	width: 50%;
	float: right;
	padding-left: 5rem;
	box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.lexus-spec {
	color: #bd4da6;
}

.camry-spec {
	color: #1167a0;
}

.sienna-spec {
	color: #36973C;
}